flows_madeinvaders.json
[{"type":"tab","id":"cceb8705.331478","label":"Made Invaders"},{"id":"6cf7b426.93084c","type":"subflow","name":"Store User","info":"# Get User\n\nWho needs a fucking database?\n\n## Inputs\n\nThe payload of the message must contain the\nfields `name` and `consent`.  The topic must\nbe the unique user identifier.\n","in":[{"x":30,"y":72,"wires":[{"id":"7d6ff52b.82900c"}]}],"out":[]},{"id":"6251aac9.9dae54","type":"subflow","name":"Finished","info":"Subflow that handles the game finished event from the control\nmodule.","in":[{"x":35,"y":175,"wires":[{"id":"6e4a1bf5.91b5e4"}]}],"out":[{"x":1965,"y":164,"wires":[{"id":"dd5a6393.22a5a","port":0},{"id":"475df31b.b8a20c","port":0},{"id":"1c3a92ca.e3c56d","port":0},{"id":"9a48025a.65b8","port":0}]}]},{"id":"d4336669.2bcc98","type":"subflow","name":"Get User","info":"","in":[{"x":32,"y":76,"wires":[{"id":"d2a5ede7.2d5a1"}]}],"out":[{"x":729,"y":76,"wires":[{"id":"2b019898.d4fe68","port":0}]}]},{"id":"e2bf2cdc.1d40d","type":"subflow","name":"Photograph","info":"Subflow that handles the take photograph message from the control\nmodule.","in":[{"x":33,"y":119,"wires":[{"id":"dc27b6e.f23d848"}]}],"out":[]},{"id":"69776bdb.968894","type":"subflow","name":"Started","info":"Subflow that handles the game started message from the control\nmodule.","in":[{"x":34,"y":77,"wires":[{"id":"f1c6445f.0e39b8"}]}],"out":[]},{"id":"44ac15a.fbb53ec","type":"websocket-listener","z":"cceb8705.331478","path":"/ws/events","wholemsg":"false"},{"id":"46cb7a08.b93484","type":"serial-port","z":"cceb8705.331478","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r\\n","bin":"false","out":"char","addchar":false},{"id":"e4d0bdb6.1b2f4","type":"twitter-credentials","z":"cceb8705.331478","screen_name":"@MadeInvaders"},{"id":"6cbe4784.9341b8","type":"serial-port","z":"cceb8705.331478","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"7d6ff52b.82900c","type":"template","z":"6cf7b426.93084c","name":"build the filename","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/var/registration/tags/{{user_id}}","x":175,"y":71,"wires":[["2eb1637b.d14e9c"]]},{"id":"2eb1637b.d14e9c","type":"change","z":"6cf7b426.93084c","name":"build the document","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.name","pt":"msg","to":"name","tot":"msg"},{"t":"set","p":"payload.consent","pt":"msg","to":"consent","tot":"msg"},{"t":"set","p":"payload.user_id","pt":"msg","to":"user_id","tot":"msg"},{"t":"set","p":"payload.twitter","pt":"msg","to":"twitter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":71,"wires":[["cbb27838.344d88"]]},{"id":"cbb27838.344d88","type":"json","z":"6cf7b426.93084c","name":"serialise it as json","x":604,"y":71,"wires":[["ac228d71.53dd7"]]},{"id":"ac228d71.53dd7","type":"file","z":"6cf7b426.93084c","name":"write it to the file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":810,"y":71,"wires":[]},{"id":"6d7dfb52.928204","type":"comment","z":"6cf7b426.93084c","name":"Build the filename from the user id and encode the document","info":"","x":231,"y":28,"wires":[]},{"id":"48dcb7ff.b72348","type":"json","z":"d4336669.2bcc98","name":"decode the record","x":577,"y":76,"wires":[[]]},{"id":"4e664b5d.b199b4","type":"template","z":"d4336669.2bcc98","name":"build the filename","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/var/registration/tags/{{user_id}}","x":183,"y":76,"wires":[["fa9b8372.05648"]]},{"id":"302a9c44.cfd564","type":"file in","z":"d4336669.2bcc98","name":"read the file","filename":"","format":"utf8","x":380,"y":76,"wires":[["2b019898.d4fe68"]]},{"id":"b13c1a4c.4ec3e8","type":"comment","z":"d4336669.2bcc98","name":"Build the filename from the user id and attempt to decode the document","info":"","x":274,"y":30,"wires":[]},{"id":"e080b5aa.1f7f48","type":"comment","z":"6251aac9.9dae54","name":"Store the player's score and post social media updates","info":"This flow will only post the photograph if the player gave consent.","x":215,"y":35,"wires":[]},{"id":"463861cd.b9c7a","type":"comment","z":"6251aac9.9dae54","name":"Post on social media","info":"","x":699.5,"y":72,"wires":[]},{"id":"b41d8649.4be278","type":"comment","z":"6251aac9.9dae54","name":"Store the score and player details in a flat file","info":"","x":782,"y":232,"wires":[]},{"id":"8cb77a77.734888","type":"file","z":"6251aac9.9dae54","name":"append it to the log","filename":"/var/registration/scores.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1085,"y":271,"wires":[]},{"id":"d9ccd88.f263328","type":"csv","z":"6251aac9.9dae54","name":"convert it to csv","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"user_id,name,score","x":883,"y":271,"wires":[["8cb77a77.734888"]]},{"id":"6e4a1bf5.91b5e4","type":"change","z":"6251aac9.9dae54","name":"set the user id and score","rules":[{"t":"set","p":"user_id","pt":"msg","to":"payload.user_id","tot":"msg"},{"t":"set","p":"score","pt":"msg","to":"payload.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":198,"y":175,"wires":[["57f0ecc5.a80f14"]]},{"id":"2b019898.d4fe68","type":"json","z":"d4336669.2bcc98","name":"decode the record","x":577,"y":76,"wires":[[]]},{"id":"d2a5ede7.2d5a1","type":"template","z":"d4336669.2bcc98","name":"build the filename","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/var/registration/tags/{{user_id}}","x":183,"y":76,"wires":[["fa9b8372.05648","73295065.8cd6b"]]},{"id":"fa9b8372.05648","type":"file in","z":"d4336669.2bcc98","name":"read the file","filename":"","format":"utf8","x":380,"y":76,"wires":[["2b019898.d4fe68"]]},{"id":"8ac22eda.753dd","type":"comment","z":"d4336669.2bcc98","name":"Build the filename from the user id and attempt to decode the document","info":"","x":274,"y":30,"wires":[]},{"id":"c0ebeddb.3f141","type":"comment","z":"e2bf2cdc.1d40d","name":"Take a photograph of the player and store it in a global variable","info":"This flow will only take a photograph of the user if they previously \nconsented to it.","x":243.5,"y":28,"wires":[]},{"id":"40d911df.bf26f","type":"switch","z":"e2bf2cdc.1d40d","name":"did they give consent","property":"payload.consent","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":559.5,"y":119,"wires":[["c2f98feb.3d067"],["a5b5a3ac.5a4a6"]]},{"id":"a5b5a3ac.5a4a6","type":"template","z":"e2bf2cdc.1d40d","name":"prepare a debug message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Player {{ msg.payload.user_id }} did not give consent for a photograph","x":833.5,"y":154,"wires":[["dd38ac34.22c75"]]},{"id":"dd38ac34.22c75","type":"debug","z":"e2bf2cdc.1d40d","name":"show it","active":true,"console":"false","complete":"payload","x":1048.5,"y":154,"wires":[]},{"id":"c2f98feb.3d067","type":"exec","z":"e2bf2cdc.1d40d","command":"fswebcam --no-banner -r 1280x1024 -","addpay":false,"append":"","useSpawn":"","name":"take photograph","x":791.5,"y":87.5,"wires":[["69aa0597.9655fc"],["81b848e0.7e47b8"],[]]},{"id":"69aa0597.9655fc","type":"change","z":"e2bf2cdc.1d40d","name":"","rules":[{"t":"set","p":"photograph","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1021.5,"y":75,"wires":[["48ffb1df.b7005"]]},{"id":"48ffb1df.b7005","type":"template","z":"e2bf2cdc.1d40d","name":"prepare a debug message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Photograph of user {{ user_id }} taken","x":1274.5,"y":75,"wires":[["3e474313.c1b8bc"]]},{"id":"3e474313.c1b8bc","type":"debug","z":"e2bf2cdc.1d40d","name":"show it","active":true,"console":"false","complete":"payload","x":1488,"y":75,"wires":[]},{"id":"dc27b6e.f23d848","type":"change","z":"e2bf2cdc.1d40d","name":"set the user id","rules":[{"t":"set","p":"user_id","pt":"msg","to":"payload.user_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":168,"y":119,"wires":[["1414dd1.febeb23"]]},{"id":"53dfc657.ac2038","type":"comment","z":"69776bdb.968894","name":"Delete the previous photograph and display a message a new game starts","info":"","x":274.5,"y":30,"wires":[]},{"id":"f1c6445f.0e39b8","type":"template","z":"69776bdb.968894","name":"prepare message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Starting game for player: {{ payload.user_id }}","x":179,"y":77,"wires":[["552087dc.aadf78"]]},{"id":"552087dc.aadf78","type":"debug","z":"69776bdb.968894","name":"show start of game message","active":true,"console":"false","complete":"payload","x":432,"y":77,"wires":[]},{"id":"edbd7312.12429","type":"comment","z":"cceb8705.331478","name":"Handle registration requests from the web interface","info":"These flows handle adding registration information to the database.\n\nThis is a different approach to the MFUKLC design.  The static content is\nnow served directly by Node-RED, meaning that we only need to worry about\nresponding to requests here.\n","x":220,"y":120,"wires":[]},{"id":"c6b17ec1.394e8","type":"http in","z":"cceb8705.331478","name":"","url":"/register","method":"post","swaggerDoc":"","x":92,"y":202,"wires":[["e3a99b65.1c5668","9911d676.66ee28"]]},{"id":"9911d676.66ee28","type":"change","z":"cceb8705.331478","name":"set the payload","rules":[{"t":"set","p":"user_id","pt":"msg","to":"req.body.userId","tot":"msg"},{"t":"set","p":"name","pt":"msg","to":"req.body.name","tot":"msg"},{"t":"set","p":"consent","pt":"msg","to":"req.body.consent","tot":"msg"},{"t":"set","p":"twitter","pt":"msg","to":"req.body.twitter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":545,"y":202,"wires":[["a95d911a.56a27"]]},{"id":"89d87f4c.76278","type":"debug","z":"cceb8705.331478","name":"show the request","active":true,"console":"false","complete":"payload","x":554,"y":246,"wires":[]},{"id":"bc86ef5f.43791","type":"comment","z":"cceb8705.331478","name":"Serial control module interface","info":"This flow handles decoding and responding to messages from the control\nmodule.","x":141,"y":537,"wires":[]},{"id":"e921116c.16def","type":"inject","z":"cceb8705.331478","name":"Debug started","topic":"","payload":"0,3ab359f023","payloadType":"str","repeat":"","crontab":"","once":false,"x":113,"y":631,"wires":[["aae1d394.551e3"]]},{"id":"f44f4f73.0bb0b","type":"csv","z":"cceb8705.331478","name":"decode message","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"id,user_id,game_id,score","x":559,"y":631,"wires":[["26a5aa14.d95a56","a7d9827a.58268"]]},{"id":"26a5aa14.d95a56","type":"switch","z":"cceb8705.331478","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","outputs":4,"x":769,"y":631,"wires":[["a7eb867e.581478"],["2c418e42.d3be72"],["6046a0da.9fb96"],["7b2a5e51.84d5a"]]},{"id":"a7eb867e.581478","type":"subflow:69776bdb.968894","z":"cceb8705.331478","name":"started game","x":938,"y":576,"wires":[]},{"id":"2c418e42.d3be72","type":"subflow:e2bf2cdc.1d40d","z":"cceb8705.331478","name":"take photograph","x":947,"y":613,"wires":[]},{"id":"6046a0da.9fb96","type":"subflow:6251aac9.9dae54","z":"cceb8705.331478","name":"finished game","x":938,"y":650,"wires":[["c73113f6.38cef","223f0722.ddc0f8"]]},{"id":"d32575b9.2cda88","type":"debug","z":"cceb8705.331478","name":"show it","active":true,"console":"false","complete":"payload","x":1166,"y":687,"wires":[]},{"id":"7b2a5e51.84d5a","type":"template","z":"cceb8705.331478","name":"prepare error message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Unexpected command from control module: {{ payload.id }}","x":967,"y":687,"wires":[["d32575b9.2cda88"]]},{"id":"deec64a7.211398","type":"comment","z":"cceb8705.331478","name":"Handle RFID placement and removal","info":"These flows handle the placement and removal of RFID tags.\n\nWhen a tag is placed on the reader, an event is sent to the web interface\nover a websocket containing the user-id derived from the tag.  When a tag\nis removed from the reader, an event is sent to the web interface saying\nthe tag has been removed.","x":158,"y":311,"wires":[]},{"id":"c42f2d10.3bd0d","type":"inject","z":"cceb8705.331478","name":"Debug presented","topic":"pi/rfid-presented","payload":"3ab359f023","payloadType":"str","repeat":"","crontab":"","once":false,"x":120.5,"y":424,"wires":[["aad70144.5529"]]},{"id":"50c73f63.af38c","type":"inject","z":"cceb8705.331478","name":"Debug removed","topic":"pi/rfid-removed","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120.5,"y":471,"wires":[["aad70144.5529"]]},{"id":"b3e10b5e.4c1ef8","type":"switch","z":"cceb8705.331478","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"present","vt":"str"},{"t":"eq","v":"removed","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":846,"y":424,"wires":[["888968df.777698"],["a5978945.5a6878"],["33bd79d6.cc4286"]]},{"id":"33bd79d6.cc4286","type":"template","z":"cceb8705.331478","name":"prepare error message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Unexpected status from RFID module: {{ topic }}","x":1051.5,"y":465,"wires":[["d5f27388.2a0d9"]]},{"id":"d5f27388.2a0d9","type":"debug","z":"cceb8705.331478","name":"show it","active":true,"console":"false","complete":"payload","x":1273.5,"y":465,"wires":[]},{"id":"a5978945.5a6878","type":"change","z":"cceb8705.331478","name":"set payload to 'removed'","rules":[{"t":"set","p":"payload","pt":"msg","to":"removed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1063,"y":424,"wires":[["60ebe22f.9f141c"]]},{"id":"60ebe22f.9f141c","type":"websocket out","z":"cceb8705.331478","name":"stream events to interface","server":"44ac15a.fbb53ec","client":"","x":1331,"y":402,"wires":[]},{"id":"d305b93a.2cfa48","type":"debug","z":"cceb8705.331478","name":"show it","active":true,"console":"false","complete":"payload","x":866.5,"y":344,"wires":[]},{"id":"df942ab8.206bd8","type":"inject","z":"cceb8705.331478","name":"Debug photograph","topic":"","payload":"1,3ab359f023","payloadType":"str","repeat":"","crontab":"","once":false,"x":132.5,"y":669,"wires":[["aae1d394.551e3"]]},{"id":"30a661ff.cf599e","type":"inject","z":"cceb8705.331478","name":"Debug finished","topic":"","payload":"2,3ab359f023,000000,1337","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.5,"y":707,"wires":[["aae1d394.551e3"]]},{"id":"98931510.676ce8","type":"http response","z":"cceb8705.331478","name":"reply","x":1193,"y":202,"wires":[]},{"id":"e437920d.1bc87","type":"change","z":"cceb8705.331478","name":"prepare response","rules":[{"t":"set","p":"responseCode","pt":"msg","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1018,"y":202,"wires":[["98931510.676ce8"]]},{"id":"456c6fbe.ba939","type":"subflow:6cf7b426.93084c","z":"cceb8705.331478","name":"store the user","x":999.5,"y":246,"wires":[]},{"id":"688940b1.9776c","type":"inject","z":"cceb8705.331478","name":"Debug register","topic":"","payload":"{\"req\": {\"body\": {\"userId\": \"3ab359f023\", \"consent\": true, \"name\": \"Testy McTesterton\", \"twitter\": \"testymctest\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":117.5,"y":162,"wires":[["a205a47f.5dfa58"]]},{"id":"a205a47f.5dfa58","type":"change","z":"cceb8705.331478","name":"fix the injection","rules":[{"t":"set","p":"req","pt":"msg","to":"payload.req","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":315.5,"y":162,"wires":[["9911d676.66ee28"]]},{"id":"a7d9827a.58268","type":"template","z":"cceb8705.331478","name":"prepare log message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Received message <{{ payload.id }}> with\nuser id '{{ payload.user_id }}'","x":817.5,"y":736,"wires":[["2dae0ac8.d251f6"]]},{"id":"2dae0ac8.d251f6","type":"debug","z":"cceb8705.331478","name":"show it","active":true,"console":"false","complete":"payload","x":1004.5,"y":736,"wires":[]},{"id":"e3a99b65.1c5668","type":"template","z":"cceb8705.331478","name":"prepare log message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Received request: {{ msg.req }}","x":325.5,"y":246,"wires":[["89d87f4c.76278"]]},{"id":"57f0ecc5.a80f14","type":"subflow:d4336669.2bcc98","z":"6251aac9.9dae54","name":"load the user","x":436,"y":175,"wires":[["a449a2f0.66fd7","e3754001.1c8ac","61044706.9efbb8"]]},{"id":"1414dd1.febeb23","type":"subflow:d4336669.2bcc98","z":"e2bf2cdc.1d40d","name":"load the user","x":355,"y":119,"wires":[["40d911df.bf26f"]]},{"id":"b8b3875e.6c7748","type":"function","z":"cceb8705.331478","name":"prepare a log message","func":"// Parse and convert the topic and payload. \nif (msg.payload.event == \"present\") {\n    msg.payload = \"RFID module: card presented, \" + msg.payload.user_id;\n} else {\n    msg.payload = \"RFID module: card removed\";\n}\n\n// Forward the message.\nreturn msg;\n","outputs":1,"noerr":0,"x":669,"y":344,"wires":[["d305b93a.2cfa48"]]},{"id":"66514cd9.e40264","type":"serial in","z":"cceb8705.331478","name":"Read events from serial","serial":"46cb7a08.b93484","x":119,"y":583,"wires":[["aae1d394.551e3"]]},{"id":"a449a2f0.66fd7","type":"change","z":"6251aac9.9dae54","name":"set the payload","rules":[{"t":"set","p":"payload.score","pt":"msg","to":"score","tot":"msg"},{"t":"delete","p":"payload.consent","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":691,"y":271,"wires":[["d9ccd88.f263328"]]},{"id":"f51b0002.0ae5","type":"comment","z":"6251aac9.9dae54","name":"Show a debug message","info":"","x":720,"y":321,"wires":[]},{"id":"e3754001.1c8ac","type":"template","z":"6251aac9.9dae54","name":"format the message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Game finished: {{ payload.name }} scored {{ score }}.","x":710,"y":362,"wires":[["6e96e5c.f91691c"]]},{"id":"6e96e5c.f91691c","type":"debug","z":"6251aac9.9dae54","name":"show it","active":true,"console":"false","complete":"payload","x":902,"y":362,"wires":[]},{"id":"a2840560.5d7bf8","type":"comment","z":"cceb8705.331478","name":"Initialise global variables","info":"These flows set global variables that configure the behaviour and\noutput of the registration station.\n\nThe variables set by these flows are:\n\n* `global.event`: the name of the event it is deployed at.\n* `global.hashtag`: the hashtag to use for tweets at the deployment.\n","x":122,"y":32,"wires":[]},{"id":"77613a45.889ec4","type":"inject","z":"cceb8705.331478","name":"When started","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":115,"y":72,"wires":[["23a74967.dc58b6"]]},{"id":"23a74967.dc58b6","type":"change","z":"cceb8705.331478","name":"initialise global variables","rules":[{"t":"set","p":"event","pt":"global","to":"Maker Faire UK","tot":"str"},{"t":"set","p":"hashtag","pt":"global","to":"#mfuk2016","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":327,"y":72,"wires":[["56703f14.a98fc"]]},{"id":"56703f14.a98fc","type":"template","z":"cceb8705.331478","name":"prepare log message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Initialised global variables","x":568,"y":72,"wires":[["a28db0f1.5d725"]]},{"id":"a28db0f1.5d725","type":"debug","z":"cceb8705.331478","name":"show it","active":true,"console":"false","complete":"payload","x":760,"y":72,"wires":[]},{"id":"c73113f6.38cef","type":"twitter out","z":"cceb8705.331478","twitter":"e4d0bdb6.1b2f4","name":"tweet the game","x":1197,"y":650,"wires":[]},{"id":"a83e2367.57c1e","type":"csv","z":"cceb8705.331478","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"event,user_id,message","x":455,"y":424,"wires":[["ae5b0f4.f51a4f","b8b3875e.6c7748"]]},{"id":"888968df.777698","type":"change","z":"cceb8705.331478","name":"set payload to user id","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.user_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1054,"y":384,"wires":[["60ebe22f.9f141c"]]},{"id":"ae5b0f4.f51a4f","type":"function","z":"cceb8705.331478","name":"lower case of user id","func":"if (msg.payload.user_id != null) {\n    if (msg.payload.user_id.length % 2 == 1) {\n        msg.payload.user_id = '0' + msg.payload.user_id;\n    }\n    msg.payload.user_id = msg.payload.user_id.toLowerCase();\n}\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":424,"wires":[["b3e10b5e.4c1ef8"]]},{"id":"808ba796.7f7458","type":"serial in","z":"cceb8705.331478","name":"read from rfid reader","serial":"6cbe4784.9341b8","x":110,"y":378,"wires":[["aad70144.5529"]]},{"id":"aad70144.5529","type":"rbe","z":"cceb8705.331478","name":"","func":"rbe","gap":"","start":"","inout":"out","x":309,"y":424,"wires":[["a83e2367.57c1e"]]},{"id":"a95d911a.56a27","type":"function","z":"cceb8705.331478","name":"clean the twitter handle","func":"twitter = msg.payload.twitter\nif (twitter.length > 0) {\n    while (twitter[0] == '@' || twitter[0] == ' ') {\n        twitter = twitter.substring(1);\n    }\n}\nmsg.payload.twitter = twitter;\n\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":202,"wires":[["e437920d.1bc87","456c6fbe.ba939","1c5364e5.e3ac9b"]]},{"id":"73295065.8cd6b","type":"debug","z":"d4336669.2bcc98","name":"","active":true,"console":"false","complete":"false","x":398,"y":118,"wires":[]},{"id":"aae1d394.551e3","type":"function","z":"cceb8705.331478","name":"strip null bytes","func":"input = msg.payload;\nmsg.payload = input.replace(/\\0/g, '');\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":631,"wires":[["f44f4f73.0bb0b"]]},{"id":"81b848e0.7e47b8","type":"debug","z":"e2bf2cdc.1d40d","name":"","active":true,"console":"false","complete":"false","x":1000,"y":118,"wires":[]},{"id":"223f0722.ddc0f8","type":"delay","z":"cceb8705.331478","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1170,"y":608,"wires":[["318b275f.ce74d8"]]},{"id":"318b275f.ce74d8","type":"change","z":"cceb8705.331478","name":"delete the photograph","rules":[{"t":"delete","p":"photograph","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1368,"y":608,"wires":[[]]},{"id":"1c5364e5.e3ac9b","type":"debug","z":"cceb8705.331478","name":"","active":true,"console":"false","complete":"false","x":998,"y":135,"wires":[]},{"id":"44b1a4a4.bb4e5c","type":"function","z":"6251aac9.9dae54","name":"determine consent and twitter configuration","func":"// Get flags for consented and twitter status.\nvar consented = (msg.payload.consent == \"true\");\nvar twitter = msg.payload.twitter.length > 0;\n\n// Cover all permutations.\nif (consented && twitter) {\n    return [msg, null, null, null];\n}\nif (consented && !twitter) {\n    return [null, msg, null, null];\n}\nif (!consented && twitter) {\n    return [null, null, msg, null];\n}\nif (!consented && !twitter) {\n    return [null, null, null, msg];\n}\n","outputs":"4","noerr":0,"x":1012,"y":175,"wires":[["751c1348.8ae3ec"],["e21b55de.1de4a8"],["475df31b.b8a20c"],["dd5a6393.22a5a"]]},{"id":"9a48025a.65b8","type":"template","z":"6251aac9.9dae54","name":"user consented and gave twitter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Check out @{{ payload.twitter }} scoring {{ score }} on #MadeInvaders at {{ payload.event }}! {{ payload.hashtag }}","x":1632,"y":116,"wires":[[]]},{"id":"1c3a92ca.e3c56d","type":"template","z":"6251aac9.9dae54","name":"user consented and did not give twitter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Check out {{ payload.name }} scoring {{ score }} on #MadeInvaders at {{ payload.event }}! {{ payload.hashtag }}","x":1652,"y":154,"wires":[[]]},{"id":"475df31b.b8a20c","type":"template","z":"6251aac9.9dae54","name":"user did not give consent but gave twitter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Well done @{{ payload.twitter }} scoring {{ score }} on #MadeInvaders at {{ payload.event }}! {{ payload.hashtag }}","x":1662,"y":192,"wires":[[]]},{"id":"dd5a6393.22a5a","type":"template","z":"6251aac9.9dae54","name":"user did not give consent and did not give twitter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Well done, {{ payload.name }}, for scoring {{ score }} on #MadeInvaders at {{ payload.event }}! {{ payload.hashtag }}","x":1682,"y":230,"wires":[[]]},{"id":"751c1348.8ae3ec","type":"change","z":"6251aac9.9dae54","name":"use the photograph","rules":[{"t":"set","p":"media","pt":"msg","to":"photograph","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1352,"y":116,"wires":[["9a48025a.65b8"]]},{"id":"e21b55de.1de4a8","type":"change","z":"6251aac9.9dae54","name":"use the photograph","rules":[{"t":"set","p":"media","pt":"msg","to":"photograph","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1352,"y":154,"wires":[["1c3a92ca.e3c56d"]]},{"id":"61044706.9efbb8","type":"change","z":"6251aac9.9dae54","name":"get global variables","rules":[{"t":"set","p":"payload.event","pt":"msg","to":"event","tot":"global"},{"t":"set","p":"payload.hashtag","pt":"msg","to":"hashtag","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":703,"y":175,"wires":[["44b1a4a4.bb4e5c"]]}]